<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="swen_anigans.mathematicfanatic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".MainActivity"
            android:theme="@style/HomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuardianSettings"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".StudentSettings"/>
        <activity
            android:name=".StudentLocker"
            android:parentActivityName=".MainActivity"
            android:theme="@style/LockerTheme">

        </activity>
        <activity
            android:name=".activity_help"
            android:label="@string/title_activity_help"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".QuizResultsActivity"
            android:exported="true"
            android:theme="@style/QuizTheme"/>
        <activity
            android:name=".QuizActivity"/>
        <activity
            android:name=".QuizStartActivity"/>
        <activity
            android:name=".QuizSubmissionActivity"/>
        <activity android:name=".RecessActivity"
            android:theme="@style/RecessTheme"/>
        <activity android:name=".VideoTheaterActivity"
            android:theme="@style/RecessTheme">
            android:parentActivityName=".MainActivity"
        </activity>
    </application>

</manifest>